@use "global" as *;
.p-header {
  @include mq("md") {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    padding-top: rem(32);
    position: relative;
    z-index: 3000;
  }
}

.p-header__left {
  width: rem(74);
  margin-top: rem(20);
  margin-left: rem(25);
  @include mq("md") {
    max-width: rem(1033);
    width: 100%;
    // padding-left: $padding-pc;
    // padding-right: $padding-pc;
    padding-left: 3.9%;
  }
}

.p-header__left-wrapper {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.p-header__logo {
  max-width: rem(148);
  width: 100%;
  position: relative;
  z-index: 9999;
  @include mq("md") {
  }
}

.p-header__nav {
  display: none;
  @include mq("md") {
    display: block;
    width: 100%;
    // margin-left: rem(126);
    margin-left: 6.6vw;
  }
}

.p-header__hamburger {
  position: fixed;
  top: rem(20);
  right: rem(20);
  width: rem(48);
  height: rem(48);
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid $black;
  z-index: 9999;
  @include mq("md") {
    top: rem(43);
    right: rem(43);
    width: rem(97);
    height: rem(97);
  }
}

.p-header__hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 5000;
}

.p-header__hamburger-menu::after {
  @include mq("md") {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: rem(15);
    background-color: $black;
  }
}

