@use "global" as *;
.p-mv {
  height: calc(100vh - #{rem(70)});
  margin-top: rem(50);
  position: relative;
  @include mq("md") {
    display: flex;
    height: calc(100vh - #{rem(103)});
    margin-top: 0;
  }
}

.p-mv__pc {
  // display: none;
  @include mq("md") {
    display: flex;
  }
}

.p-mv__left {
  position: absolute;
  bottom: 19%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @include mq("md") {
    position: static;
    flex: 1;
    // padding-top: 12%
    padding-top: 4%;
    padding-left: 13.2%;
    transform: initial;
  }
}

.p-mv__left span {
  display: block;
  font-size: rem(20);
  font-family: $second-font-family;
  font-weight: 400;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
    text-align: left;
  }
}

.p-mv__logo {
  width: rem(230);
  @include mq("md") {
    width: 26vw;
    margin-top: rem(30);
  }
}

.p-mv__head {
  font-size: rem(16);
  margin-top: rem(25);
  font-weight: $regular;
  letter-spacing: 0.08em;
  text-align: center;
  @include mq("md") {
    font-size: rem(34);
    margin-top: rem(43);
    text-align: left;
  }
}

.p-mv__right {
  width: calc(568 / 750) * 100%;
  height: 69%;
  margin: 0 auto;
  @include mq("md") {
    width: calc(726 / 1920) * 100%;
    height: 92.3vh;
    margin-left: rem(20);
    margin-top: rem(-90);
    aspect-ratio: 726 / 1110;
    position: relative;
  }
}

.p-mv__video {
  width: 100%;
  height: 100%;
  position: relative;
  @include mq("md") {
    // max-width: rem(726);
    // height: 100%;
    // overflow: hidden;
  }
}

.p-mv__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(190);
  @include mq("md") {
    object-fit: cover;
    aspect-ratio: 726 / 1110;
    border-radius: initial;
    border-bottom-left-radius: rem(480);
  }
}

// swiper
.swiper.mySwiper {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  max-width: rem(291);
  width: 100%;
  height: auto;
  aspect-ratio: 291 / 234;
  @include mq("md") {
    top: initial;
    bottom: 0;
    left: initial;
    right: rem(43);
    transform: initial;
    // max-width: rem(917);
    max-width: 47.7vw;
    width: 100%;
    height: fit-content;
    aspect-ratio: 917 / 849;
    z-index: 2000;
  }
}

.swiper-pagination {
  width: 60% !important;
  bottom: rem(45) !important;
  text-align: left;
  @include mq("md") {
    bottom: rem(80) !important;
    left: rem(123) !important;
  }
}

.swiper-pagination-bullet {
  width: rem(10) !important;
  height: rem(10) !important;
  background-color: transparent;
  border: 1px solid #9d0000;
  margin: 0 rem(15) !important;
  position: relative;
  @include mq("md") {
    width: rem(14) !important;
    height: rem(14) !important;
    margin: 0 rem(72) !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: #9d0000;
}

.swiper-pagination-bullet:nth-child(1)::before,
.swiper-pagination-bullet:nth-child(2)::before,
.swiper-pagination-bullet:nth-child(3)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: -230%;
  background-color: $black;
  width: rem(2);
  height: rem(2);
  opacity: 1 !important;
  transform: translateY(-50%);
  @include mq("md") {
    right: -630%;
    width: rem(4);
    height: rem(4);
  }
}

.swiper-pagination-bullet:nth-child(1)::after,
.swiper-pagination-bullet:nth-child(2)::after,
.swiper-pagination-bullet:nth-child(3)::after,
.swiper-pagination-bullet:nth-child(4)::after {
  content: "Hair Iron";
}

.swiper-pagination-bullet::after {
  content: "";
  position: absolute;
  font-size: 12px;
  color: #9d0000;
  transform: rotate(90deg);
  transform-origin: right bottom;
  line-height: 1;
  white-space: nowrap;
  left: -12px;
  width: 10px;
  text-align: right;
  opacity: 0;
  @include mq("md") {
  }
}

.swiper-pagination-bullet-active::after {
  content: "Hair Iron";
  position: absolute;
  font-family: Futura, sans-serif;
  font-style: oblique;
  opacity: 1;
  top: rem(-60);
  @include mq("md") {
    top: -100px;
    font-size: rem(18);
  }
}

.progressbar{
  position: absolute;
  bottom: 6%;
  left: 3%;
  width: rem(140);
  height: 1.5px;
  background: #707070;
  overflow: hidden;
  @include mq("md") {
    bottom: rem(60);
    left: rem(130);
    width: rem(637);
    height: 1.5px;
  }
}

.progressbar_in {
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.5px;
  background: #9D0000;
  border-radius: 7px;
  transform: scaleX(0);
  transform-origin: left center;
  transition-timing-function: linear;
}